@use '../../scss/variables' as vars;
@use '../../scss/mixins' as mixins;

:host {
    @include mixins.flex-center;
    padding: 6px 0;
}

.checkbox {
    @include mixins.flex-center;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    border-radius: 50%;
    justify-content: center;
    background-color: #F5F5F5;
}

.checked {
    background-color: vars.$primary-color;
}

.checkbox-text {
    font-size: vars.$font-size-base;
    color: #2A3033;
}