// === Переменные ===
$primary-color: #1074CC;
$error-color: #CC1910;
$white: #fff;

$font-size-base: 14px;
$font-weight-light: 200;
$font-weight-medium: 400;

$header-height: 56px;
$mobile-breakpoint: 414px;
$desktop-breakpoint: 1440px;